@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Vesper+Libre:wght@400;500;700;900&display=swap');

/* White */
/*:root {
    --bg-color: #ffffff;
    --card-color: #f0f0f0;
    --text-title: #000000;
    --text-main: #333333;
    --text-muted: #666666;
    --font-xl: 4rem;
    --font-large: 1.5rem;
    --font-base: 1rem;
}*/

/* Black */
/*:root {
    --bg-color: #000000;
    --card-color: #131313;
    --text-title: #e3e2e2;
    --text-main: #646464;
    --text-muted: #424242;
    --font-xl: 4rem;
    --font-large: 1.5rem;
    --font-base: 1rem;
}*/

/* Gray */
:root {
    --bg-color: #1a1a1a;
    --card-color: #1a1a1a;
    --text-title: #f0f0f0;
    --text-main: #808080;
    --text-muted: #424242;

    --font-xl: 4rem;
    --font-large: 1.2rem;
    --font-base: 1rem;
}

@media (max-width: 1000px) {
    :root {
        --font-xl: 3rem;
        --font-large: 1rem;
        --font-base: 0.6rem;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-title);
}

.ss-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    overflow-x: hidden;
}

section {
    /*border-bottom: 1px solid red;*/
    width: 100vw;
    height: 100vh;
    margin: 0;

    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;*/

    position: relative;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.container {
    padding: 2rem;
    background-color: var(--card-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-items: center;
    text-align: center;
}

h2 {
    font-family: "Vesper Libre", serif;
    font-weight: 200;
    font-style: bold;
    font-size: var(--font-xl);
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5rem;
}

@keyframes fadeIn {
    to {
        opacity: 0;
    }
}

#name-container {
    margin-left: 10vw;
    text-align: left;
}

#name-animated {
    position: absolute;
    margin: auto;
    text-align: center;

    font-family: "Vesper Libre", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 6rem;
    text-shadow: 3px 1px 6px #2d2d2d;
}

#name-static {
    display: inline-block;
    margin: 0 0 -2rem 0;

    font-family: "Vesper Libre", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 5rem;
    text-shadow: 3px 1px 6px #2d2d2d;
}

.name-letter {
    display: inline-block;
    opacity: 0;
}

.name-letter-fade-in {
    opacity: 0.5;
    transform: translateY(-5px);

    /* FIX THIS TO ENABLE ANIMATION */
    opacity: 0;
    /*animation-delay: 0.5s;
    animation: SlideIn 0.2s ease-in forwards;*/
}

#name-subtitle {
    /*font-family: "Nanum Gothic Coding", monospace;*/
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-size: var(--font-large);
    color: var(--text-main);

    opacity: 0;
    transform: translateX(10px);
    animation: SlideIn 0.3s ease-in forwards;
    animation-delay: 2s;
}

#profile-pic {
    display: inline-block;
    margin-right: 10vw;

    max-width: 25vw;
    width: 40vh;
    height: auto;

    box-shadow: 0px 0px 20px 5px #0000001a;
}

.nav-link {
    color: var(--text-main);
    font-weight: bold;
}

.nav-link:hover {
    color: var(--text-title);
}

.social-button-contaier {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.social-button {
    width: 2rem;
    height: 2rem;

    border: 3px solid var(--text-title);
    border-radius: 40%;
    background-color: var(--text-title);
}

.social-button svg {
    width: 80%;
    height: 80%;

    fill: var(--bg-color);
    color: var(--bg-color);
}

@keyframes SlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#projects {
    font-size: var(--font-large);
}

#contact {
    font-size: var(--font-large);
}

.td-right {
    text-align: right;
    padding-right: 0.5rem;
}

.td-left {
    text-align: left;
    padding-left: 0.5rem;
}

#contact-table tr td a {
    color: var(--text-title);
    text-decoration: none;
}

#contact-table tr td a:hover {
    color: var(--text-main);
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 1rem;
    /*width: 100%;*/
    color: var(--text-muted);
}

#footer-left {
    text-align: left;
    left: 2rem;
}

#footer-center {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#footer-right {
    text-align: right;
    right: 2rem;
}