@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Vesper+Libre:wght@400;500;700;900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nanum+Gothic+Coding&family=Vesper+Libre:wght@400;500;700;900&display=swap');*/

/* White */
/*:root {
    --bg-color: #ffffff;
    --card-color: #f0f0f0;
    --text-title: #000000;
    --text-main: #333333;
    --text-muted: #666666;
    --font-xl: 4rem;
    --font-large: 1.5rem;
    --font-base: 1rem;
}*/

/* Black */
/*:root {
    --bg-color: #000000;
    --card-color: #131313;
    --text-title: #e3e2e2;
    --text-main: #646464;
    --text-muted: #424242;
    --font-xl: 4rem;
    --font-large: 1.5rem;
    --font-base: 1rem;
}*/


/* Gray */
:root {
    --bg-color: #1a1a1a;
    --card-color:
        /*#131313;*/
        #1a1a1a;
    --text-title: #f0f0f0;
    --text-main: #808080;
    --text-muted: #424242;
    --font-xl: 4rem;
    --font-large: 1.5rem;
    --font-base: 1rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-title);
    /*overflow-x: hidden;*/
    overflow-y: scroll;
}

.ss-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    /*border-bottom: 1px solid red;*/
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.container {
    padding: 2rem;
    background-color: var(--card-color);

    align-items: center;
    text-align: center;
}

h2 {
    font-family: "Vesper Libre", serif;
    font-weight: 400;
    font-style: bold;
    font-size: var(--font-xl);
}

#title {
    background-color: #000000;
}

.blob {
    position: relative;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    filter: blur(5rem);
    opacity: 0;
    animation: fadeIn 6s ease forwards;
    mix-blend-mode: screen;
}

/* white */
.blob1 {
    background: radial-gradient(circle, #ffc4c430, transparent 90%);
    top: 5vh;
    left: 25%;
    animation-delay: 1s;
}

/* purple */
.blob2 {
    background: radial-gradient(circle, #a955f73a, transparent 90%);
    top: 40vh;
    left: 10%;
    animation-delay: 2s;
}

/* blue */
.blob3 {
    background: radial-gradient(circle, #60a5fa40, transparent 90%);
    top: 30vh;
    right: 20%;
    animation-delay: 2.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#name-container {
    border: 1px solid red;
    /*justify-content: center;
    align-items: center;
    text-align: center;*/

    margin: auto;
    padding: 3vw;
}

#name {
    font-family: "Vesper Libre", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 6rem;
    text-shadow: 3px 1px 6px #2d2d2d;
}

.name-letter {
    display: inline-block;
    opacity: 0;
}

.name-letter-fade-in {
    opacity: 0.5;
    transform: translateY(-5px);

    animation-delay: 0.5s;
    animation: fadeInBottom 0.2s ease-in forwards;
}

#name-subtitle {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-size: var(--font-large);
    color: var(--text-main);

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInBottom 2s ease forwards;
    animation-delay: 2s;
}

#nav-buttons {
    transition: all 1s ease;
    position: relative;
    bottom: 2rem;

    width: 100vw;
    height: 10vh;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInBottom 3s ease forwards;
    animation-delay: 2s;
}

@keyframes fadeInBottom {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-button {
    transition: all 0.3s ease-in-out;

    display: inline-block;

    font-size: var(--font-large);
    color: var(--text-muted);
    /*background-color: var(--bg-color);*/

    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.nav-button:hover {
    background-color: #a8a8a81e;
    color: var(--text-main);

    /*box-shadow: inset 0rem 0.2rem 0.2rem 0rem #1e1e1e;*/
    translate: 0 -0.2rem;
}

#about {
    font-size: var(--font-large);
}

#projects {
    font-size: var(--font-large);
}

#contact {
    font-size: var(--font-large);
}

.td-right {
    text-align: right;
    padding-right: 0.5rem;
}

.td-left {
    text-align: left;
    padding-left: 0.5rem;
}

#contact-table tr td a {
    color: var(--text-title);
    text-decoration: none;
}

#contact-table tr td a:hover {
    color: var(--text-main);
    text-decoration: underline;
}

footer {
    margin-bottom: 1rem;
    /*position: relative;
    bottom: 0;*/
    width: 100%;
    /*height: 7vh;*/
}